# This is a basic workflow to help you get started with Actions

name: publish-examples

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '15.x'

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
       
      - name: Install dependencies
        run: npm install
        
      - name: Build tiled-map
        run: npm run build
        working-directory: ./packages/tiled-map

      - name: Build map-editor
        run: npm run build
        working-directory: ./packages/map-editor

      - name: Build map-editor-examples
        run: npm run build
        working-directory: ./packages/map-editor-examples
      
      - name: Remove .gitignore file for publish examples
        run: rm ./packages/map-editor-examples/.gitignore

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/map-editor-examples
          allow_empty_commit: true
